In [24]:
import numpy as np
import pandas as pd 
import pycountry 
from langdetect import detect
import re
import matplotlib.pyplot as plt

In [25]:
train = pd.read_csv(r"train_data.txt",
                    sep=':::',names=['Title', 'Genre', 'Description']).reset_index(drop=True)
train.head()

C:\Users\admin\AppData\Local\Temp\ipykernel_4732\1391979788.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  train = pd.read_csv(r"train_data.txt",

,Title,Genre,Description
0,Oscar et la dame rose (2009),drama,Listening in to a conversation between his do...
1,Cupid (1997),thriller,A brother and sister with a past incestuous r...
2,"Young, Wild and Wonderful (1980)",adult,As the bus empties the students for their fie...
3,The Secret Sin (1915),drama,To help their unemployed father make ends mee...
4,The Unrecovered (2007),drama,The film's title refers not only to the un-re...

In [26]:
train.columns

Index(['Title', 'Genre', 'Description'], dtype='object')

In [27]:
#funcation for detect Language 

pycountry.languages.get(alpha_2 = detect("ગુજરાતી ભાષા"))

Language(alpha_2='gu', alpha_3='guj', name='Gujarati', scope='I', type='L')

In [28]:
test = pd.read_csv(r"test_data.txt",
                    sep=':::',names=['Title', 'Genre', 'Description']).reset_index(drop=True)
test.head()

C:\Users\admin\AppData\Local\Temp\ipykernel_4732\3637756405.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  test = pd.read_csv(r"test_data.txt",

,Title,Genre,Description
0,1,Edgar's Lunch (1998),"L.R. Brane loves his life - his car, his apar..."
1,2,La guerra de papá (1977),"Spain, March 1964: Quico is a very naughty ch..."
2,3,Off the Beaten Track (2010),One year in the life of Albin and his family ...
3,4,Meu Amigo Hindu (2015),"His father has died, he hasn't spoken with hi..."
4,5,Er nu zhai (1955),Before he was known internationally as a mart...

In [29]:
def Language_detect(text):
    try:
        return pycountry.languages.get(alpha_2 = detect(text))
    except:
        return "Not Found"

test['Language'] = test['Description'].apply(Language_detect)
test.head

<bound method NDFrame.head of        Title                             Genre  \
0          1             Edgar's Lunch (1998)
1          2         La guerra de papá (1977)
2          3      Off the Beaten Track (2010)
3          4           Meu Amigo Hindu (2015)
4          5                Er nu zhai (1955)
...      ...                               ...
54195  54196   "Tales of Light & Dark" (2013)
54196  54197      Der letzte Mohikaner (1965)
54197  54198              Oliver Twink (2007)
54198  54199                Slipstream (1973)
54199  54200        Curitiba Zero Grau (2010)

                                             Description  \
0       L.R. Brane loves his life - his car, his apar...
1       Spain, March 1964: Quico is a very naughty ch...
2       One year in the life of Albin and his family ...
3       His father has died, he hasn't spoken with hi...
4       Before he was known internationally as a mart...
...                                                  ...
54195   Covering multiple genres, Tales of Light & Da...
54196   As Alice and Cora Munro attempt to find their...
54197   A movie 169 years in the making. Oliver Twist...
54198   Popular, but mysterious rock D.J Mike Mallard...
54199   Curitiba is a city in movement, with rhythms ...

                                                Language
0      Language(alpha_2='en', alpha_3='eng', name='En...
1      Language(alpha_2='en', alpha_3='eng', name='En...
2      Language(alpha_2='en', alpha_3='eng', name='En...
3      Language(alpha_2='en', alpha_3='eng', name='En...
4      Language(alpha_2='en', alpha_3='eng', name='En...
...                                                  ...
54195  Language(alpha_2='en', alpha_3='eng', name='En...
54196  Language(alpha_2='en', alpha_3='eng', name='En...
54197  Language(alpha_2='en', alpha_3='eng', name='En...
54198  Language(alpha_2='en', alpha_3='eng', name='En...
54199  Language(alpha_2='en', alpha_3='eng', name='En...

[54200 rows x 4 columns]>